<div class="card">
	<div class="card-header">
		<h2> {{pageTitle}}</h2>
	</div>
	<div class="card-body">
		<form class="form-horizontal" novalidate  (ngSubmit)="saveUser()"[formGroup]="registerForm">
			<div class="form-group row" [ngClass]="{'has-error': displayMessage.username}">
				<label for="username">username</label>
				<input class="form-control" id="usernameId" type="text" autocomplete="username"
						placeholder="username (required)" autofocus name="username" formControlName="username" />
				<span class="help-block" *ngIf="displayMessage.username">
					{{displayMessage.username}}
				</span>
			</div>
				<div class="form-group" [ngClass]="{'has-error': displayMessage.password}">
					<label for="password">password</label>
					<input class="form-control" type="password" autocomplete="new-password" formControlName="password"
							placeholder="Password (required)" />
					<span class="help-block" *ngIf="displayMessage.password">
						{{displayMessage.password}}
					</span>
				</div>
				<div class="form-group" [ngClass]="{'has-error': displayMessage.confirmPassword}">
					<label for="ConfirmPassword"> Confirm Password</label>
					<input class="form-control" type="password" autocomplete="new-password" formControlName="confirmPassword"/>
				</div>

			<select class="custom-select" name="role" formControlName="role">
				<option value="" selected disabled>Role</option>
				<option value="user">User</option>
				<option value="admin">Admin</option>
			</select>

			<div class="card-footer">
				<div class="row">
					<span>
						<button class="btn btn-primary" type="submit" style="width:90px;margin-right:10px"
            [title]="registerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
								[disabled]="!registerForm.valid">
							Register
						</button>
					</span>
					<span>
						<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
					</span>

				</div>
			</div>
		</form>
	</div>
	<div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

	<br>Dirty: {{ registerForm.dirty }}
		<br>Touched: {{ registerForm.touched }}
			<br>Valid: {{ registerForm.valid }}
				<br>Value: {{ registerForm.value | json }}
          <br>&nbsp;
          <p>
            Form Status: {{ registerForm.status }}
          </p>

					</div>
