 <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Systeme Ohada</span>
    <span class="example-spacer"></span>
 <!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
 -->

<!-- <div class="toolbar" role="banner"> -->


  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <a class='navbar-brand'>{{pageTitle}}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div>
        <ul class='navbar-nav'>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-item nav-link" routerLink="/welcome">Home</a>
          </li>
        </ul>
      </div>
      <ul class="navbar navbar-nav navbar-light">
        <li class="nav-item" *ngIf="currentUser">
          <a>Welcome {{ currentUser.username}}</a>
        </li>
        <li class="nav-item" *ngIf="!messageService.isDisplayed">
          <a (click)="displayMessages()">Show Messages</a>
        </li>
        <li class="nav-item" *ngIf="messageService.isDisplayed">
          <a (click)="hideMessages()">Hide Messages</a>
        </li>
        <li>
        <li class="nav-item" *ngIf="!currentUser">
          <a [routerLink]="['/login']" routerLinkActive="active">Log In</a>
          <!--  <a [routerLink]="['/login']">Log In</a> -->
        </li>
        <li  class="nav-item" *ngIf="!currentUser" class="nav-item">
          <a [routerLink]="['/register','0','edit']" routerLinkActive="active">
            <i class="fa fa-user-plus"></i> Register
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]="['/users',currentUser.id]" class="nav-link" routerLinkActive="active" *ngIf="currentUser">
            <i class="fa fa-user"></i> Account {{currentUser.username}}
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="currentUser && currentUser.role==='admin'">
            <i class="fa fa-lock"></i> admin
          </a>
        </li>
        <li>
        <li *ngIf="currentUser">
          <a class="nav-item nav-link" (click)="logOut()">Logout</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
     </form>
    </div>
   <!--   <div><input type="checkbox" id="config" [checked]="showConfig" (click)="toggleConfig()">
      <label for="config">Config</label>
    </div> -->
   <!--  <app-config *ngIf="showConfig"></app-config> -->
<!--   </nav> -->

<!-- </div> -->

</mat-toolbar-row>
