<div class="card" *ngIf="vm$ | async  as vm ">
  <div class="card-header">
    {{vm.pageTitle}}
  </div>

  <div class="card-body">
    <form>

      <div class="form-group row">
        <div class="col-sm-2 col-form-label col-form-label-sm">Year:</div>
        <div class="form-control form-control-sm">{{ vm.nstbalance.oexercCompta }}</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label col-form-label-sm">RefCode:</div>
        <div class="form-control form-control-sm">{{ vm.nstbalance.oreference }}</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2 col-form-label col-form-label-sm">table:</div>
        <div class="form-control form-control-sm">{{ vm.nstbalance.otableauposte}}</div>
      </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label col-form-label-sm">Compte:</div>
          <div class="form-control form-control-sm">{{vm.nstbalance.NumCompte}}</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label col-form-label-sm">IntitulCompte:</div>
          <div class="form-control form-control-sm">{{vm.nstbalance.IntitulCompte}}</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label col-form-label-sm">SoldeDebit:</div>
          <div class="form-control form-control-sm">{{ vm.nstbalance.SoldeDebit |currency:"USD":code: "1.0-2"}}</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 col-form-label col-form-label-sm">SoldeCredit:</div>
          <div class="form-control form-control-sm">{{ vm.nstbalance.SoldeCredit |currency:"USD":code: "1.2-2"}}</div>
        </div>


    </form>
    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
  </div>

  <div class="panel-footer">
    <a class="btn btn-default" [routerLink]="['/nstbalances']" [queryParamsHandling]="preserve">
      <i calss="glyphicon glyphicon-chevron-left"></i>Back
    </a>
   <!--  <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/nstbalances',balance.id, 'edit']">
      Edit
    </a> -->
  </div>
</div>
<div class="alert alert-danger"
     *ngIf="errorMessage$ | async as errorMessage">
  {{errorMessage}}
</div>
 {{  _nstbalance$  | json }}
