<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <!-- Filter the balance sheet   -->
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="row">
          <div class="col-md-6">
            <input type="checkbox" id="search" [checked]="showSearch" (click)="toggleSearch()">
            <label for="search">Search</label>
            <app-nstbalanceinput-search *ngIf="showSearch"></app-nstbalanceinput-search>
          </div>
        </div>
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        <div class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/nstbalanceinputs','0','edit']">Add Balance</a>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table md-0" *ngIf="balances && balances.length">
        <thead>
          <tr>
            <th>NumCompte</th>
            <th>IntitulCompte</th>
            <th>SoldeDebit</th>
            <th>SoldeCredit</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let balance of balances | paginate: config">
            <td> {{ balance.NumCompte }}
            </td>
            <td> <a routerLink="/nstbalanceinputs/{{balance.id}}/edit">
                {{ balance.IntitulCompte | lowercase | convertToSpaces : ',' }}
              </a>
            </td>
            <td>{{ balance.SoldeDebit}}</td>
            <td>{{ balance.SoldeCredit}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/nstbalanceinputs',balance.id, 'edit']">
                Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!--   <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->
      <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
    </div>

  </div>
</div>
