<div class="card" *ngIf="vm$ | async as vm">
  <div class="card-header">
    {{vm.title}}
  </div>

  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="row">
          <div class="col-md-6">
            <input type="checkbox" id="search" [checked]="showSearch" (click)="toggleSearch()">
            <label for="search">Search</label>
            <app-nstbalance-search *ngIf="showSearch"></app-nstbalance-search>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="row justify-content-between">
              <app-oda-drop-down-list></app-oda-drop-down-list>
            </div>
          </div>
        </div>
<!--         {{ vm.nstbalances | json }}
 -->
      </div>
    </div>

    <div class="table-responsive">
      <table class="table md-0" *ngIf="vm.nstbalances  && vm.nstbalances.length">
        <thead>
          <tr>
            <th>Year</th>
            <th>Ref Code</th>
<!--            <th>table</th>
 -->            <th>NumCompte</th>
            <th>IntitulCompte</th>
            <th>SoldeDebit</th>
            <th>SoldeCredit</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let balance of vm.nstbalances  | paginate: config">
            <td> {{ balance.oexercCompta }}  </td>
            <td> {{ balance.oreference }}       </td>
<!--           <td> {{ balance.otableauposte}}       </td>
 -->            <td> {{ balance.NumCompte }}      </td>
            <td> <a [ngClass]="{'active': balance.id===vm.nstbalance }"
              (click)='onSelected(balance.id)'     [routerLink]="['/nstbalances',balance.id, 'edit']">
                <!--  routerLink="/nstbalances/{{balance.id}}" > -->
                {{ balance.IntitulCompte | lowercase | convertToSpaces : ',' }}
              </a>
            </td>
            <td>{{ balance.SoldeDebit}}</td>
            <td>{{ balance.SoldeCredit}}</td>
            <td>
              <a class="btn btn-primary" [routerLink]="['/nstbalances',balance.id, 'edit']">
                Edit
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
    </div>

  </div>

</div>

<div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
  {{ errorMessage }}
</div>
<!--  {{ vm | json }}  -->

<!--{{ balances.length | json }}-->
